#intro {
  .intro__wrapper {
    .pct {
      display: flex;
      align-items: center;
      gap: 85px 0;
      justify-content: space-between;
      padding: 10px 0;
      img {
        padding: 3%;
        width: 20%;
      }
    }

    iframe {
      border-radius: 14px;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url("../../assets/images/bg.jpg"), lightgray 50% / cover no-repeat;
    }
  }
}
